{% extends "base.html" %}
{% block title %} Books | Lilypond Infra {% endblock %}

{% block content %}
<article>
  <header>
    <h1>Books</h1>
      {% if user.is_staff %}
        <span class="admin-edit"><a href="{% url 'admin:file_upload_book_add' %}"><img src="/static/admin/img/icon-addlink.svg" alt="" width="24" height="24"></a></span>
      {% endif %}
  </header>

  <section>
    <ul>
      {% for book in books %}
        <li>
          <a href="{% url 'book_detail' book.id %}">{{ book.title }}</a>
        </li>
      {% empty %}
        <li>No books yet.</li>
      {% endfor %}
    </ul>
  </section>
</article>
{% endblock %}